@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.normalBackground {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
}

.editBackground {
  position: fixed;
}

.normalVideo, .editVideo {
  pointer-events: none;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.normalHeader, .editHeader {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
  cursor: pointer;
}

.logo {
  font-weight: 800;
  cursor: default;
}

.secret-key {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  width: 100px;
  height: 50px;
  border-radius: .5rem;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 768px) {
  * {
    font-size: 16px;
  }

  .normalHeader, .editHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  a {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .secret-key {
    width: 80%;
    height: 40px;
  }
}

@media (max-width: 480px) {
  * {
    font-size: 14px;
  }

  .secret-key {
    width: 90%;
  }
}
