@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  font-size: 150px;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}


.background {
  position: relative;
  min-height: 100vh; /* 전체 화면 높이 */
  overflow: hidden; /* 비디오가 화면을 넘어가는 것을 숨김 */
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; /* 비디오를 배경으로 설정 */
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(25px);
  border-bottom: 2px solid rgb(255, 255, 255,.2);
  background: rgba(255, 255, 255, .1);
  height: 230px;
  z-index: 1; /* Navbar를 비디오 위에 표시 */
}

a {

  color: white;
  text-decoration: none;
  margin-left: 70px;

}
