*{
    font-size: 12px;
}
.board-container{
    display: flex;
    position: absolute;
    width: 500px;
    left:50%;
    top: 30%;
    transform: translate(-50%,20%);
}
.card{
    z-index: 2;
    
}