*{
    font-size: 12px;
    z-index: 2;
    
}
Link a{
    font-weight: 600;
    color: aqua;
    text-shadow: 0px 10px 2px ;
}
.board-container{
    display: flex;
    position: absolute;
    
    left:50%;
    top: 10px;
    transform: translate(-50%,20%);
}
.card{
     width: 150px;
     height: 200px;
     object-fit: cover;
     margin: 10px;
     border-radius: 20px;
     padding: 10px;
}
.card img{
    
    height: 150px;
    width: 150px;
    border-radius: 5px;
    
}