.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center; /* 중앙 정렬 */
    padding: 20px;
  }
  
  .chart-container {
    position: relative;
    width: 80%;
    height: 80%; /* 필요한 높이 설정 */
    margin: 20px 0; /* 여백 설정 */
  }
  