.chat-container {
    height: 80%;
    transform: translate(-50%, 10%);
    position: absolute;
    top: 0;
    left: 50%;
    width: 75%;
    padding: 10px;
    max-height: 80vh; /* 최대 높이를 설정하여 스크롤을 가능하게 함 */
    overflow-y: auto; /* 세로 방향 스크롤 활성화 */
    border: 1px solid #ccc; /* 선택 사항: 경계선 추가 */
    border-radius: 10px; /* 선택 사항: 모서리 둥글게 */
}

.client {
    padding: 20px;
    width: 40%;
    background-color: greenyellow;
    border-radius: 10px;
    margin-bottom: 10px;
    left: 0%;
    position: relative; /* 상대 위치 설정 */
}

.server {
    padding: 20px;
    width: 40%;
    background-color: azure;
    border-radius: 10px;
    margin-bottom: 10px;
    right: 0%;
    position: relative; /* 상대 위치 설정 */
    margin-left: auto; /* 왼쪽 여백 자동으로 설정하여 오른쪽 정렬 */
}

.able{
    font-size: 100px;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translate(-50%, 80%);
}

.load {
    font-size: 100px;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translate(-50%, 80%);
    animation: move 1s infinite alternate; /* 애니메이션 추가 */
}

@keyframes move {
    0% {
        transform: translate(-50%, 80%);
    }
    100% {
        transform: translate(-50%, 60%);
    }
}
