.editor {
    z-index: 1;
    width: 80%;

    top:0;
    left: 50%;
    position: absolute;
    transform: translate(-50%,30%);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;

    overflow-y: auto; /* 세로 스크롤바 활성화 */
    padding: 10px; /* 내부 여백 추가 */
}
.ql-toolbar.ql-snow { border: none !important;}

.ql-editor {
    height: 400px;
    overflow-y: scroll;
}
button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50; /* 버튼 색상 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button-group:hover .dropdown-content {
    display: block; /* 마우스 오버 시 드롭다운 표시 */
}

.ql-toolbar {
    height: 60px; /* 높이 조정 */
}
button:hover {
    background-color: #45a049; /* 버튼 hover 효과 */
}