.editor {
    z-index: 1;
    top:30%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,50%);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    
}
.ql-toolbar.ql-snow { border: none !important;}