.update{
    text-align: center;
    width: 100%;
    color: mediumaquamarine;
    top: 20%;
    position: absolute;
}
.update img{

    width: 200px;
    height: 200px;

}
.update h1{
    font-size: 50px;
}
